<section id="cat" class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-danger">
          <div class="panel-body">
            <div class="col-xs-12 col-sm-12 col-md-8">
              <div class="align-center txt-shadow">
                <%= link_to image_tag(@cat[:image_url], :class => 'img-responsive img-round'), @cat[:link] %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="fav col-xs-4 col-sm-4 col-md-4">
                <%= image_submit_tag 'bad.png', :class => 'img-responsive img-bad-cat', :value => @cat.id %>
              </div>
              <% if user_signed_in? %>
                <% if @fav_flg[@cat.id] %>
                  <div class="fav col-xs-4 col-sm-4 col-md-4"></div>
                <% else %>
                  <div class="fav col-xs-4 col-sm-4 col-md-4">
                    <%= image_submit_tag 'favorite.png', :class => 'img-responsive img-favorite-cat', :value => @cat.id %>
                  </div>
                <% end %>
              <% else %>
                <div class="fav col-xs-4 col-sm-4 col-md-4"></div>
              <% end %>
              <div class="fav col-xs-4 col-sm-4 col-md-4">
                <%= image_submit_tag 'good.png', :class => 'img-responsive img-good-cat', :value => @cat.id %>
              </div>
            </div>
            <p class='fav-count'><%= @cat.fav_count %>人がこの猫をふぁぼっています。</p>
            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
              this.page.url = "http://coneco.cat2.pics/cat/" + <%= @cat.id %>; // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = <%= @cat.id %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//cat2pics.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </br>
            <h2 class='other'><B>その他の人気のある猫たち</B></h2>
            <% @cats.each do |cat| %>
              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="align-center txt-shadow text-center">
                      <%= link_to image_tag(cat.image_url, :class => 'img-responsive img-round'), cat_path(cat.id) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section class="home-section">
  <!-- admax -->
  <script src="http://adm.shinobi.jp/s/2a6331ee0511b34b15dddf76612a8078"></script>
  <!-- admax -->
</section-->
<section class="home-section">
  <script type="text/javascript">
  var nend_params = {"media":35623,"site":189852,"spot":528762,"type":1,"oriented":1};
  </script>
  <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
</section>
