<section id="ranking" class="home-section">
  <div class="container">
    <p class='text-ranking'><B>人気な猫たち TOP<%= ((@page - 1) * 15) + 1 %>~<%= @page * 15 %></B></p>
    <ol class="breadcrumb">
      <li class="active"><B>日別</B></li>
      <li><a class='link' href="/ranking/monthly"><B>月別</B></a></li>
      <li><a class='link' href="/ranking/total"><B>総合</B></a></li>
    </ol>
    <div class="row">
      <% @fav_cats.each_with_index do |fav_cat, index| %>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="align-center txt-shadow">
                <p class='text-under-ranking'><B>ふぁぼランキング<%= (@page - 1) * 15 + index + 1 %>位</B></p>
                <a href="<%= cat_path(fav_cat.id) %>"><img class="lazy img-responsive img-round" src="/images/dummy.gif" alt="cat" data-original="<%= fav_cat[:image_url] %>"></a>
                <%#= link_to image_tag(fav_cat[:image_url], :class => 'img-responsive img-round'), cat_path(fav_cat.id) %>
              </div>
              <div class="fav col-xs-4 col-sm-4 col-md-4">
                <%= image_submit_tag 'bad.png', :class => 'img-responsive img-bad', :value => fav_cat.id %>
              </div>
              <% if user_signed_in? %>
                <% if @fav_flg[fav_cat.id] %>
                  <div class="fav col-xs-4 col-sm-4 col-md-4"></div>
                <% else %>
                  <div class="fav col-xs-4 col-sm-4 col-md-4">
                    <%= image_submit_tag 'favorite.png', :class => 'img-responsive img-favorite', :value => fav_cat.id %>
                  </div>
                <% end %>
              <% else %>
                <div class="fav col-xs-4 col-sm-4 col-md-4"></div>
              <% end %>
              <div class="fav col-xs-4 col-sm-4 col-md-4">
                <%= image_submit_tag 'good.png', :class => 'img-responsive img-good', :value => fav_cat.id %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= paginate @fav_cats, remote: true %>
