<section id="ranking" class="home-section">
  <div class="container">
    <p class='text-ranking'><B>人気な子達 TOP30</B></p>
    <ol class="breadcrumb">
      <li><a href="/ranking/daily">Daily</a></li>
      <li class="active">Monthly</li>
      <li><a href="/ranking/total">Total</a></li>
    </ol>
    <div class="row">
      <% @fav_cats.each_with_index do |fav_cat, index| %>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="align-center txt-shadow">
            <p class='text-under-ranking'><B>ふぁぼランキング<%= index+1 %>位</B></p>
            <%= link_to image_tag(fav_cat[:image_url], :class => 'img-responsive img-round'), fav_cat[:link] %>
          </div>
          <div class="fav col-xs-4 col-sm-4 col-md-4">
            <%= image_submit_tag 'bad.png', :class => 'img-responsive img-bad', :value => fav_cat.id %>
          </div>
          <% if user_signed_in? %>
            <% if @fav_flg[fav_cat.id] %>
              <div class="fav col-xs-4 col-sm-4 col-md-4"></div>
            <% else %>
              <div class="fav col-xs-4 col-sm-4 col-md-4">
                <%= image_submit_tag 'favorite.png', :class => 'img-responsive img-favorite', :value => fav_cat.id %>
              </div>
            <% end %>
          <% end %>
          <div class="fav col-xs-4 col-sm-4 col-md-4">
            <%= image_submit_tag 'good.png', :class => 'img-responsive img-good', :value => fav_cat.id %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
